@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: rgb(53, 53, 53);
}
a {
  text-decoration: none;
}

body {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* About Me */
#about-me {
  width: 100%;
}
.about-box {
  width: 100%;
}
.about-subbox {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}
.about-box .first {
  border-top: 30px solid #7f7de4;
}
.about-box .third {
  border-top: 30px solid #5cb5ff;
}
.about-box .first,
.about-box .third {
  position: sticky;
  top: 0;
  z-index: 0;
}
.about-box .second {
  background-color: #7f7de4;
}
.about-box .fourth {
  background-color: #5cb5ff;
}
.about-subbox > div {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.about-subbox > div:last-child p {
  text-align: right;
  font-size: 60px;
  line-height: 60px;
  font-weight: 100;
  color: white;
}
.about-subbox > div > p {
  width: 100%;
}
.about-box .first > div:first-child p {
  color: #7f7de4;
}
.about-box .third > div:first-child p {
  color: #5cb5ff;
}
.about-box .first > div:first-child p,
.about-box .third > div:first-child p {
  line-height: 50px;
  font-size: 40px;
  font-weight: 200;
}
.about-box .first > div:first-child p:last-child,
.about-box .third > div:first-child p:last-child {
  color: rgb(255, 255, 255);
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.profile-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  padding: 0 20px;
}
.profile-pic-div {
  width: 250px;
  overflow: hidden;
  font-size: 0;
  object-fit: cover;
  overflow: hidden;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 30px 0;
}
.profile-pic-div img {
  width: 100%;
  object-fit: cover;
}
.about-text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  padding-top: 0;
}
.about-text p,
.about-text div {
  width: 100%;
}
.about-text > div:first-child {
  font-weight: 200;
  font-size: 30px;
  line-height: 20px;
  text-align: center;
}
.about-text > div:nth-child(2) {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #7f7de4;
  border-bottom: 1px solid #5cb5ff;
}
.about-text > div:nth-child(3) {
  text-align: center;
  background-color: #7f7de4;
  padding: 10px;
  color: white;
  font-weight: 400;
  font-size: 15px;
}
.about-text > div:nth-child(4) {
  padding: 20px 0;
}
.about-text > div:nth-child(4) p {
  margin-bottom: 15px;
}
#about-me .important {
  font-weight: 700;
  color: #1583dd;
}

.body-div {
  display: flex;
  flex-wrap: wrap;
}

/* Nav */
nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #7f7de4;
  position: sticky;
  height: 70px;
  top: calc(100vh - 70px);
  z-index: 2;
}
nav > div {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  padding: 10px 0 5px 0;
}
nav a {
  width: 13%;
  max-width: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
nav a div {
  width: 60%;
}
nav img {
  width: 100%;
}
nav p {
  width: 100%;
  text-align: center;
  font-size: 70%;
  font-weight: 700;
  color: #dde6ee;
}

/* Main Div */
main {
  width: 100%;
  margin-bottom: 80vh;
}
.section {
  margin-bottom: 70px;
}
main h2 {
  font-size: 25px;
  font-weight: 100;
  background-color: #7f7de4;
  color: white;
  padding: 10px 20px;
  margin-bottom: 50px;
  border-bottom-right-radius: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 90%;
}

/* Projects */
.project {
  margin-bottom: 50px;
}
.project > a > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.project > a > div > div:nth-child(2) {
  margin-top: 5px;
  width: 100%;
}
.project h3 {
  color: #1583dd;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}
.project h3:hover {
  color: #7f7de4;
  font-weight: 700;
}
.proj-short-desc {
  padding-bottom: 10px;
  border-bottom: 10px solid #c7e6ff;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  text-align: center;
}
.proj-textbox {
  display: flex;
  flex-wrap: wrap;
}
.proj-textbox > div:first-child {
  padding: 20px;
  background-color: #e3f2ff;
}
.proj-textbox > div:last-child {
  width: 100%;
  padding: 20px;
  border-bottom-right-radius: 30px;
  border: 3px solid #e3f2ff;
}
.proj-img-box {
  width: 280px;
  height: 280px;
  padding: 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #c7e6ff;
  background-color: white;
}
.proj-img-box:hover {
  border: 10px solid #7f7de4;
}
.proj-img-box img {
  width: 100%;
}
.project li {
  list-style: square;
  font-size: 14px;
  margin-left: 30px;
  margin-bottom: 2px;
}
.project h4 {
  color: #1583dd;
  margin-bottom: 5px;
}
/* Skills */
#skills {
  display: flex;
  flex-wrap: wrap;
}
#skills h2 {
  width: 100%;
}
#skills h3 {
  font-size: 25px;
  width: 100%;
  margin-bottom: 15px;
  color: #1583dd;
  padding-bottom: 5px;
  text-align: center;
}
.skills-sub {
  margin-bottom: 10px;
  padding: 30px;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.tech-skills-body,
.non-tech-skills-box {
  width: 100%;
}
.skill {
  width: 200px;
  height: 250px;
}
.skill > div {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.skill-img-box {
  width: 150px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.skill-img-box > img {
  width: 150px;
  height: 200px;
  object-fit: contain;
}
.rating-holder {
  display: flex;
  max-width: 63%;
}
.rating-holder > div:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.rating-holder > div:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.rate-box {
  width: 23px;
  height: 23px;
  border: 1px solid #c7e6ff;
}
.skill-green {
  background-color: #99d1ff;
}
.other-skills-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.other-skills-box > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2px 0;
  align-items: center;
}
.other-skills-box > div > div:first-child {
  width: 35%;
  font-size: 14px;
}

/* Experience */

#work-experience > .body {
  display: flex;
  flex-wrap: wrap;
}
.exp-body {
  width: 100%;
  padding: 0 20px;
}
.exp-body > div {
  padding: 20px;
}
.exp-body h3 {
  color: #1583dd;
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #5cb5ff;
}
.exp-body h3 + div {
  text-align: center;
  margin: 10px 0 30px 0;
}
.exp-body h3 + div > div:first-child {
  font-weight: 700;
}
.exp-body h3 + div > div:last-child {
  font-size: 14px;
}
.exp-body ul {
  margin-left: 50px;
  font-size: 14px;
}
.exp-body li {
  margin-bottom: 3px;
}

/* Education */

#education .body {
  display: flex;
  flex-wrap: wrap;
}
.course-box {
  width: 100%;
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.course-box h3 {
  width: 100%;
  color: #1583dd;
  font-size: 20px;
}
.course-box h4 {
  width: 100%;
  font-size: 14px;
}
.course-box > div:first-child {
  width: 40%;
  overflow: hidden;
  margin-bottom: 10px;
}
.course-box img {
  width: 100%;
}
.course-box > div:last-child {
  font-size: 14px;
}

/* Contact */
#contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#contact-me h2 {
  width: 100%;
}
#contact-me .body {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
#contact-me .body > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2px 0;
}
#contact-me .body > div > p:first-child {
  width: 30%;
  font-weight: 700;
}
#contact-me .body > div > p:last-child {
  width: 60%;
}
/* end */
#source {
  font-size: 10px;
  color: #a1a1a1;
  text-align: right;
  padding-right: 10px;
}
