@media only screen and (min-width: 576px) and (max-width: 992px) {
  .about-subbox > div {
    width: 50%;
    padding: 30px;
  }
  .about-subbox > div:last-child p {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
  }
  .about-box .first > div:first-child p,
  .about-box .third > div:first-child p {
    line-height: 50px;
    font-size: 40px;
  }
  .about-box .first > div:first-child p:last-child,
  .about-box .third > div:first-child p:last-child {
    font-size: 60px;
    line-height: 60px;
  }
  .profile-box {
    justify-content: flex-start;
  }
  .profile-pic-div {
    width: 300px;
  }
  .about-text > div:first-child,
  .about-text > div:nth-child(2),
  .about-text > div:nth-child(3) {
    text-align: left;
  }
  .about-text {
    margin-left: 15%;
  }
  .about-text > div:nth-child(2) {
    font-size: 60px;
  }
  nav a {
    max-width: 60px;
  }
  .project > a > div {
    padding: 20px;
  }
  .project > a > div > div:nth-child(2) {
    width: 80%;
  }
  .proj-short-desc {
    padding-bottom: 10px;
  }
  .proj-textbox {
    margin-top: 15px;
    justify-content: space-between;
  }
  .proj-textbox > div:first-child {
    background-color: white;
    padding: 0;
    width: 45%;
  }
  .proj-textbox > div:last-child {
    width: 50%;
    background-color: #e3f2ff;
    border: none;
  }
  .proj-img-box {
    width: 200px;
    height: 200px;
  }
  .tech-skills-body,
  .non-tech-skills-box {
    width: 50%;
  }
  .exp-body {
    width: 50%;
  }
  .course-box {
    width: 33%;
    margin-bottom: 0;
  }
  .course-box > div:first-child {
    width: 60%;
  }
  #contact-me .body {
    width: 50%;
  }
}
